#piz1 {
    text-align: center;
    justify-content: space-around;
    padding: 30px;
}

#piz1:hover {
    border: 1px solid gold;
}

#pizza {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

#crust {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

#toppings {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

#home h1 {
    text-align: center;
}

#contacts {
    background-color: rgb(25, 112, 68);
    display: flex;
}

#contacts #a {
    padding: 20px;
}

#contacts #b {
    padding: 20px;
}

#contacts #icons {
    padding: 20px;
}

#contacts #d {
    text-align: right;
    margin-right: 20px;
    padding-top: 20px;
}

#contacts #c {
    padding: 20px;
}

.col-sm-3 li {
    text-align: right;
    list-style: none;
    margin-bottom: 15px;
    background-color: transparent;
}

.col-sm-3 li:hover {
    background-color: yellow;
}

.col-sm-3 h2 {
    text-align: center;
    padding: 12px;
}

.container {
    margin-left: 0px;
}

.col-sm-8 {
    border: 1px solid gold;
    width: 700px;
}

#pizza {
    display: flex;
    flex-wrap: wrap;
}

.logo1 {
    height: 90px;
    width: 90px;
    border-radius: 100px;
}

.logo2 {
    height: 90px;
    width: 80%;
    border-radius: 60px solid gold;
}